<section class="section">
    <h1 class="title  is-1">{{title}}</h1>
    {{> logged-in-menu}}
    <div class="columns">
        <div class="column">
            <h3 class="title is-3">All Users</h3>
            {{> user-list}}
        </div>
    </div>

</section>
