<section class="section">
    <h1 class="title  is-1">{{title}}</h1>
    {{> logged-in-menu}}
    <div class="columns">
        <div class="column">
            <h3 class="title is-3"> All Placemarks</h3>
            {{> placemark-list}}
            {{> add-placemark}}
        </div>
        <div class="column">
            <h3 class="title is-3">Your Groups</h3>
            {{> group-list}}
            {{> add-group}}
        </div>
    </div>

</section>
