<form action="/dashboard/addgroup" method="POST">
    <label>Add new Group: </label>
    <div class="field is horizontal">
        <div class="field-body">
            <div class="field">
                <label class="label">Title</label>
                <input class="input" type="text" placeholder="Type title" name="title">
            </div>
        </div>
    </div>
    <button class="button is-link">Add Group</button>
</form>