<nav class="navbar">
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false"> <span aria-hidden="true"></span>
        <span aria-hidden="true"></span> <span aria-hidden="true"></span> </a>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a id="Login" class="button" href="/login"> Login </a>
                    <a id="Signup" class="button" href="/signup"> Signup </a>
                </div>
            </div>
        </div>
    </div>
</nav>