{{#each placemarks}}
    <div class="box box-link-hover-shadow" >
        <h2 class="name">{{name}}</h2>

        <a  href="/placemark/{{_id}}" class="button">
            <i class="fas fa-folder-open"></i>
        </a>

        <a href="/dashboard/deleteplacemark/{{_id}}" class="button">
            <i class="fas fa-trash"></i>
        </a>
        <! Add to group needs to be done later>
        {{> placemark-dropdown-options}}
    </div>
{{/each}}
